.env
myenv/
oldrin.zip
discord_bot.log
discord_bot.py
main.log
static/live2d/
new_code.txt
en_US-amy-low/
en_US-amy-low.onnx
KITU_RE23.zip
__pycache__/
response.mp3
chat_memory.csv
facts_memory.csv
intercation_memory.json
memory_embeddings.json
test_api.py
user_facts.json
audio/
song/
songs/
static/haru_greater_pro_jp.zip
app/config.py
app/minecraft_control.py
personality.json
nohup.out
